<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<mapper namespace="com.example.demo.repository.TodoMapper">
    <select id="todoList" resultType="com.example.demo.entity.Todo">
        SELECT * FROM todo
    </select>
</mapper>
